# Eclipse IDE specific files
.settings
.classpath
.project

# Android properties files
local.properties

# Android build files
/bin
/gen

# Core project Referenced libs
/libs/gdx.jar



